*{
    font-family: 'Noto Serif TC', serif;
}
body{ background: linear-gradient(to bottom, #aaf, transparent);
    margin: 0; /* 清除默认的页面边距 */
    overflow-y: hidden; /* 隐藏垂直滚动条 */
    position: fixed;  
}
.header{
    border-radius: 8px;
     border-color: #96d38c; 
    border-width: 0.1px;
    z-index: 1;
   
    height: 70px;
    display: flex;
    flex-direction: row;
    position: fixed;
    right: 0px;
    left: 0px;
    top:0px
}
.header button{
    /* background: linear-gradient(to bottom, #7dbd42 0%, #4CAF50 100%); */
    cursor: pointer;
    position: relative;
    left: 0px;
    right: 0px;
    border: #96D38c; 
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    /* background-color: #4CAF50;  */
    font-size: 20px;
    color: azure;
    /* background-color: #1a472a; 莫蘭蒂綠色 */
    background-color: #96D38c; /* 淺綠色 */
    
    background-image: linear-gradient(to right, #1a472a, #3f6f4a); 
    
    border-radius: 5px;
    

    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
   
    
   
}
hr{
    width: 1px;
    color: black;
    background-color: black;
    height: 60px;
    border-radius: -40px;
}
.header:hover {
    background-color: #8cdc3d5c; /* 鼠標懸停時的背景顏色 */
    
}
.location_select{
    width: 100%;
    height: 200px;
    position: relative;
    top: 70px;
    display: flex; /* 將 .location_select 設置為彈性容器 */
    justify-content: center; /* 將內容水平居中 */
    align-items: center; /* 將內容垂直居中 */
    left: 30px;
}
.location_select p{
    font-size: 35px;
    font-weight: 530;
    margin-right: 20px; /* 添加一些右邊距 */
    
}
.selection{
    display: flex; /* 將 .selection 設置為彈性容器 */
    width: 400px;
    
}
.selection button {
    margin-left: 10px; /* 添加一些左邊距 */
    font-size: 15px; /* 調整按鈕字體大小 */
    border-radius: 30px;
    border: none;
    background-color: beige;
    position: relative;
    top: 3px;
     width: 60px; 
    cursor: pointer;
}
.selection select {
    width: 250px; /* 調整選擇列表的寬度 */
    height: 40px; /* 調整選擇列表的高度 */
    font-size: 20px; /* 調整選擇列表中文字的大小 */
    position: relative;
    top: 3px;
    
  
}
.selection button:hover{
    background-color: #8b8b8b;
}
.show{
    position: fixed;
    width: 100%;
    height: 800px;
    top: 250px;
}
#dan_climate{
    font-weight: 550;
    position: relative;
    height: 50px;
    width: 100%;
    left:30px;
    font-size: 35px;
    color: red;
}
.condition{
    position: fixed;
    top: 380px;
    
    display: grid;
    width: 100%;
    height: 500px;
    grid-template-columns: 1fr 1fr ;
}
.omg{
    width: 40px;
    height: 40px;
    position: relative;
    top: 6px;
    color:rgb(47, 0, 51);
}
.weatherPhenomena{
    font-size: 25px;
    font-weight: 600;
    position: relative;
    margin-right: 30px;
    text-align: center;
    color:rgb(47, 0, 51);
}
.phemomena{
    width: 350px;
    height: 300px;
    font-size: 200px;
    border-radius: 30%;
}
.rainRate{
    font-size: 25px;
    font-weight: 600;
    position: relative;
    bottom: 40px;
    text-align: center;
    color:rgb(47, 0, 51);
}
.rainImg{
    width: 350px;
    height: 300px;
    font-size: 200px;
    border-radius: 30%;
}

/* 手機螢幕 */
@media only screen and (max-width: 600px) {
    
  .condition{
    top: 800px;
  }
  }
  
  /* 平板電腦螢幕 */
  @media only screen and (min-width: 601px) and (max-width: 768px) {
    .selection {
    left: 110px;
    }
    .question {
     left: 10px;
    }
    
  }

  